################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FilterByConfigurableRules/obj
/FilterByConfigurableRules/bin
/Engine/obj
/Engine/bin
